{% extends 'base.html.twig' %}

{% block body %}

    <h1>Home</h1>


    {% if app.user %}
        <h1> Welcome </h1>
    {% endif %}
    {% if not app.user %}
        <h1> Vous devez être connecté</h1>

    {% endif %}

{% endblock %}

{% block title %}

{% endblock %}

