{% extends 'base.html.twig' %}

{% block body %}
    <div  class="card" id="cardEffect">
        {{form(campusForm) }}
    </div>

    {% for message in app.flashes('success') %}
        <div id="msg" class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

