{% extends 'base.html.twig' %}

{% block body %}

    {% for tc in triCampus %}
        <div class="card">
           <h1> {{ tc.name }}</h1>

            {% if tc.events is empty %}
                <h2> No Events Here !</h2>
            {% else %}
                <h2> Here Are Your Campus Events !</h2>

            {% endif %}

            {% for event in tc.events %}



               <div> {{ event.title }}

                <a href="{{ path('_detail', {'event': event.id}) }}">
                    <input name="lienEvent" type="button" value="Details" id="lienEvent" class="lienEvent">
                </a>

               </div>
            {% endfor %}


        </div>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

