{% extends 'base.html.twig' %}

{% block body %}

        <div>
            {{ form(cityForm) }}
        </div>

        {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                        {{ message }}
                </div>
        {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}