
.main-container {
    background-image: url("/images/logoHalloween.png");
    height: 10rem;
    background-repeat: no-repeat;
    background-size: 10rem;
    margin-left: 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
"a1 a2 a3"
"b1 b2 b3";
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #363537;
}

* {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}


.navMenu {
    margin: auto;
    grid-area: a1 /b1/ b2 / a3;

}

.navMenu a {

    z-index: 5;
    color: #f9a03f;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #fddb3a;
}

.navMenu .dot {
    width: 6px;
    height: 6px;
    background: #cb4603;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(4rem);
    transform: translateX(4rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(2.8rem);
    transform: translateX(2.8rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(9.4rem);
    transform: translateX(9.4rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(19.2rem);
    transform: translateX(19.2rem);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(448px);
    transform: translateX(448px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(565px);
    transform: translateX(565px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(6):hover ~ .dot {
    -webkit-transform: translateX(690px);
    transform: translateX(690px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(7):hover ~ .dot {
    -webkit-transform: translateX(830px);
    transform: translateX(830px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenu a:nth-child(8):hover ~ .dot {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}


/*---------------------footer-----------------------*/

