{% extends "base.html.twig" %}
{% block title %} {{ parent() }} | Create {% endblock %}

    {% block body %}



        <div>
            {{ form(createEventForm) }}
        </div>


    {% endblock %}