{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}



{% block body %}


    <div class="card">
        {{ form(modifyProfileForm) }}
    </div>

    <p>TEST A SUPPRIMER C'EST POUR LE PUSH</p>

{% endblock %}

